
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: 	#f2f2f2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: 	#232f3e;
    color: white;
}

.navbar .logo{
    display: flex;
    align-items: center;
}
.navbar .logo img {
    max-width: 100px;
}

.navbar .links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    max-width: 500px;
}

.navbar .links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    background-color: #ff9900;
    padding: 10px 20px;
    border-radius: 6px;
    margin-left: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .navbar .links {
        width: 60%;
    }


}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .links {
        width: 100%;
        justify-content: flex-start;
    }

    .navbar .links a {
        margin: 5px 10px;
    }


}

@media (max-width: 480px) {
    .navbar .links a {
        font-size: 16px;
        padding: 8px 16px;
    }


}